extends ../layout/_main

block append config
  -
    const page = {
      title: '私たちについて',
      titleEn: 'Company',
      description: '成果を出すサイトを全力で作るWeb制作会社PON DESIGNの企業情報です。私たちが大切にしている価値観、代表メッセージ、会社概要、アクセスについて紹介します。'
    };

//- Mixin
include ../mixin/_breadcrumb
include ../mixin/_hero


block mainContent
  +hero(page.titleEn, page.title)
  +breadcrumb(page.titleEn)

  //- company
  section.u-pb-12
    .p-company
      .l-container
        h2.c-title.-secondary.u-mb-6 メッセージ
        p.p-company__copy: strong
          span.u-inline-block サイトのゴール =&nbsp;
          span.u-inline-block 夢を叶えること
        p.u-text-center.u-mt-8 お客様の夢を叶えること。<br>それがWebサイトのゴールであり、<br aria-hidden="true"  class="md:u-none">私たちが目指すことです。<br>だからこそちゃんと成果を出すサイトを<br aria-hidden="true" class="md:u-none">全力でお作りします。<br>お客様の笑顔を見たい。<br aria-hidden="true">夢を実現する手助けをさせてください。
        figure.p-company__imgWrapper
          picture
            source(
              type="image/png"
              srcset=`${imgPath}company/bg_circle_sp.png 1x, ${imgPath}company/bg_circle_sp@2x.png 2x`
              width="375"
              height="576"
              media="(max-width: 767px)"
            )
            img(src=`${imgPath}company/bg_company.png`, alt="" srcset=`${imgPath}company/bg_company.png 1x, ${imgPath}company/bg_company@2x.png 2x`)
    //- ceoMessage
    .l-container
      .c-media
        .c-media__body
          .c-media__text
            p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
            p.u-mt-4 テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
            p.u-mt-4 代表取締役社長 猫山ポン太郎
        figure.c-media__imgWrapper
          img(src=`${imgPath}company/ceo.jpg`, alt="" srcset=`${imgPath}company/ceo.jpg 1x, ${imgPath}company/ceo@2x.jpg 2x`)
  //- 会社概要
  section.p-section
    .l-container
      h2.c-title.-secondary 会社概要
      .p-companyInfo
        dl.c-descriptionList.u-mt-6
          .c-descriptionList__item
            dt 社名
            dd 株式会社PON DESIGN
          .c-descriptionList__item
            dt 設立
            dd 2025.02.10
          .c-descriptionList__item
            dt 代表取締役
            dd 猫山ポン太郎
          .c-descriptionList__item
            dt 資本金
            dd 1,000,000円
          .c-descriptionList__item
            dt 所在地
            dd 〒555-5555 東京都千代田区 ポンビルディング 606
        .p-embed.-map
          .
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25924.790761335145!2d139.73577962049583!3d35.68687843631278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bf992c34823%3A0x21ed577a75a4b0d1!2z5Li444Gu5YaF44OT44Or44OH44Kj44Oz44Kw!5e0!3m2!1sja!2sjp!4v1707286407243!5m2!1sja!2sjp" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          p.u-mt-1
            a(href="https://maps.app.goo.gl/NHiQK7PBwMZyGdTXA" target="_blank" rel="noopener noreferrer") Google mapで見る
