extends ../layout/_main

block append config
  -
    const isTop = true;
    const page = {
      title: SITE_NAME,
      description: `PON DESIGNは、新規サイト制作や運用、アプリ開発に強いWeb制作会社です。サイト作りはお客様の夢を叶えること。だからこそ成果を出すサイトを全力でお作りします。`,
    };

block mainContent
  //- hero
  .p-hero
    .p-hero__body
      p.p-hero__copy(lang="en")
        | Web Design <br aria-hidden="true" class="lg:u-none"> Specialist
      p.p-hero__subCopy お客様の夢を叶える<br class="md:u-none" aria-hidden="true">Webサイトを制作
      p.p-hero__button
        +primaryButton("/contact/", '-primary -reverse', "contact")
    .p-hero__scroll
      span(lang="en") Scroll

  //- News
  section.p-indexSection
    .l-container.p-indexNews
      .p-indexNews__header
        +primaryTitle('News', 'お知らせ')
      .p-indexNews__body
        ul.p-newsList
          each news in newsData
            li.p-newsList__item
              a(href="#").p-newsList__link
                .p-newsList__meta
                  time.p-newsList__date #{news.date}
                  span.p-newsList__label #{news.category}
                p.p-newsList__title #{news.title}

  //- Service
  section.p-indexSection
    .l-container
      +primaryTitle('Service', '事業内容')
      .l-grid(data-gap="8 md:6")
        each service in serviceData
          section.l-grid__item(data-col="12 sm:6 lg:4")
            .c-card.p-service
              .c-card__body.p-service__body
                h3.p-service__title #{service.title}
                p.p-service__text #{service.description}
              figure.c-card__imgWrapper.p-service__imgWrapper
                img(
                  src=`/src/assets/img/service/${service.imageFile}.jpg`,
                  alt="",
                  srcset=`/src/assets/img/service/${service.imageFile}.jpg 1x, /src/assets/img/service/${service.imageFile}@2x.jpg 2x`
                )
      .p-indexSection__button
        +primaryButton()

  //- Works
  section.p-indexSection.-works
    .p-indexWorks
      .l-container.-lg
        .p-indexWorks__inner
          .p-indexWorks__body
            +primaryTitle('Works', '制作実績')
            p.u-text-center 様々なジャンルのWebサイト制作が可能です。<br aria-hidden="true">ご購入やお申込み数の増加などを実現します！
            .p-indexSection__button
              +primaryButton()
          .p-indexWorks__slider
            .splide#js-worksSlider(aria-label="制作実績の画像一覧")
              .splide__arrows
                button(type="button" class="splide__arrow splide__arrow--prev")
                  <i class="fa-solid fa-chevron-left"></i>
                button(type="button" class="splide__arrow splide__arrow--next")
                  <i class="fa-solid fa-chevron-right"></i>
              .splide__track
                ul.splide__list
                  each fileName in ['smoothiesta', 'web-conference', 'lamina']
                    li.splide__slide
                      figure
                        img(
                          src=`/src/assets/img/works/${fileName}.jpg`,
                          alt="",
                          srcset=`/src/assets/img/works/${fileName}.jpg 1x, /src/assets/img/works/${fileName}@2x.jpg 2x`
                        )

  //- Company
  section.p-company
    .l-container
      +primaryTitle('Company', '私たちについて')
      p.p-company__copy: strong
        span.u-inline-block サイトのゴール =&nbsp;
        span.u-inline-block 夢を叶えること
      p.u-text-center.u-mt-8 お客様の夢を叶えること。<br>それがWebサイトのゴールであり、<br aria-hidden="true">私たちが目指すことです。<br>だからこそちゃんと成果を出すサイトを<br aria-hidden="true">全力でお作りします。<br>お客様の笑顔を見たい。<br aria-hidden="true">夢を実現する手助けをさせてください。
      .p-indexSection__button
        +primaryButton()
    figure.p-company__imgWrapper
      picture
        source(
          type="image/png"
          srcset="/src/assets/img/company/bg_circle_sp.png 1x, /src/assets/img/company/bg_circle_sp@2x.png 2x"
          width="375"
          height="576"
          media="(max-width: 767px)"
        )
        img(src="/src/assets/img/company/bg_company.png", alt="" srcset="/src/assets/img/company/bg_company.png 1x, /src/assets/img/company/bg_company@2x.png 2x")


  //- Recruit
  section.p-indexSection.-recruit
    .l-container
      .p-indexRecruit
        .p-indexRecruit__body
          +primaryTitle('Recruit', '採用情報')
          p 私たちと一緒に働きませんか？
          .p-indexSection__button
            +primaryButton()
        figure.p-indexRecruit__imgWrapper
          img(src="/src/assets/img/top/recruit.jpg", alt="", srcset="/src/assets/img/top/recruit.jpg 1x, /src/assets/img/top/recruit@2x.jpg 2x")
