extends ../layout/_main

block append config
  -
    const page = {
      title: '事業内容',
      titleEn: 'service',
      description: '新規サイト制作や運用、アプリ開発に強いWeb制作会社PON DESIGNの事業内容です。'
    };

//- Mixin
include ../mixin/_breadcrumb
include ../mixin/_hero


block mainContent
  +hero(page.titleEn, page.title)
  +breadcrumb(page.titleEn)
  .p-section
    .l-container
      each data in serviceData
        section.c-media
          .c-media__body
            h3.c-media__title #{data.title}
            p.c-media__text.u-mt-3 #{data.description.service}
          figure.c-media__imgWrapper
            img(
              src=`/src/assets/img/service/${data.imageFile}.jpg`,
              alt="",
              srcset=`/src/assets/img/service/${data.imageFile}.jpg 1x, /src/assets/img/service/${data.imageFile}@2x.jpg 2x`
            )
