meta(charset="UTF-8")
//- meta(name="robots" content="noindex,nofollow")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="description", content=page.description)
meta(property="og:url" content=page.url ? page.url : SITE_URL)
meta(property="og:title" content=page.title)
meta(property="og:description" content=page.description)
meta(property="og:image" content=`${SITE_URL}ogp.jpg`)
meta(property="og:type" content=page.ogType ? page.ogType : 'website')
meta(property="og:locale" content="ja_JP")
meta(property="og:site_name" content=SITE_NAME)
meta(name="twitter:card" content="summary_large_image")
link(rel="canonical" href=SITE_URL)
-
  const title = isTop ? page.title : `${page.title} | ${SITE_NAME}`;
title=title
//- Favicon
link(rel="icon" type="image/svg+xml" href="/favicon.svg")
link(rel="apple-touch-icon" type="image/svg+xml" href="/apple-touch-icon.png")
//- Fonts
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
//- Icons
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
//- MyFiles
link(rel="stylesheet", href=`/src/assets/scss/style.scss`)
script(src=`/src/assets/js/main.js` type="module")
